h1 {
	font-family: 'Inria Sans';
	color: white;
}

p {
	font-family: 'Inria Sans';
	color: #AAAAAA;
}

#main {
	width: 900px;
	margin: 0 auto;
}

#carrinho {
	background-color: #353035;
}

#items {
	height: 320px;
}

.item {
	display: grid;

	grid-template-columns: 1fr 2fr 6fr;

	padding: 8px 16px;
	border-bottom: 4px solid;

	background-color: #292029;
	border-color: #251A25;

	align-items: center;

	height: 64px;
}

.item img {
	width: 96px;
	
	border-radius: 16px;
}

.item img:hover {
	cursor: pointer;
}

.item p {
	font-family: 'Inria Sans';
	color: white;

	margin-left: 16px;
}

.preco {
	text-align: end;
}

#opcoes {
	display: flex;
	justify-content: space-between;
	align-items: center;

	background-color: #292029;
	height: 64px;

	padding: 0px 16px;
}

#opcoes p {
	display: inline;

	font-size: 1.5em;
}

#opcoes a {
	display: inline-block;

	width: 256px;
	height: 32px;
	line-height: 32px;

	border-radius: 12px;
	border-style: none;
	
	font-family: 'Inria Sans';
	font-size: 22px;

	text-align: center;
	text-decoration: none;

	background-color: #d9d0d9;
	color: #393039;
}

