/* Header */
header {
	margin: 0 auto;

	width: 100%;
	height: 210px;
}

/* Retângulo no fundo do header */
#header-bg {
	margin: 0;
	background-color: #101720;
	width: 100%;
	height: 125px;

	text-align: center;
}

/* Fundo da foto de perfil */
#prof-pic-bg {
	top: 0;

	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;

	width: 216px;
	height: 216px;

	border-radius: 50%;
	background-color: #101720;
    
    overflow: hidden;
}

/* Foto de perfil */
#prof-pic {
	width: 216px;
	height: 216px;
    
    image-rendering: pixelated;
}

#prof-change {
    position: absolute;
    
    background: none;
    border: none;
    
    margin-left: 150px;
    margin-top: 150px;
}

#prof-change:hover > #prof-change-svg {
    filter: brightness(80%);
}

form {
	margin-inline: auto;

	margin-left: auto;
	margin-right: auto;

	width: clamp(16em, 60vw, 1000px);
}

.input-divs {
	margin: 0 auto;
	align-items: center;
	width: 300px;
}

/* Labels das caixas de input */
.input-label {
	display: block;

	font-family: 'Inria Sans';
	font-size: 12pt;

	color: white;

	margin-top: 16px;
	width: 200px;
}

/* Caixas de input */
.input-generic {
	display: inline-block;

	font-family: 'Inria Sans';
	font-size: 14pt;

	background-color: #d0d0d9;

	border-style: none;
	border-radius: 16px;

	margin-top: 8px;

	height: 30px;
	width: 200px;

    padding-left: 8px;
	padding-right: 44px;
}

.input-generic::placeholder {
	color: #1e1e1e7f;

	font-style: italic;
	font-weight: lighter;
}

.input-generic:autofill {
	font-family: 'Inria Sans';
	font-size: 14pt;
}

.input-generic:-webkit-autofill {
	font-family: 'Inria Sans';
	font-size: 14pt;
}

.input-generic:focus {
	outline: dashed 2px;
	outline-color: #5e5e5e;
}

#inp-confirmar {
	background-color: #34e280;
	color: #acffc8;

	font-family: 'Inria Sans';
	font-size: 18pt;

	border-style: none;

	width: 200px;
	height: 50px;

	margin-top: 30px;
	margin-left: 30px;

	border-radius: 16px;
}

@media (min-width: 350px) {
	.input-label {
		width: 264px;
	}

	.input-generic {
		width: 264px;
	}

	form {
		width: clamp(20em, 60vw, 1000px);
	}

	#inp-confirmar {
		margin-left: 60px;
	}
}

#inp-confirmar:hover {
	background-color: #24b270;
	color: #8cdfa8;
}

/* Olho que revela a senha */
.pwd-eye {
	position: absolute;
	width: 24px;
	margin-top: 14px;
	margin-left: -36px;
}
