#search {
	display: flex;

	justify-content: center;
	margin-top: 64px;
	margin-bottom: 64px;
}

#search input {
	display: inline-block;

	width: 800px;
	height: 32px;

	padding-left: 8px;
	padding-right: 64px;

	font-family: 'Inria Sans';
	font-size: 1.025em;

	border-radius: 8px;
	border-style: none;

	background-color: #d0d0d9;
}

#search input::placeholder {
	color: #1e1e1e7f;

	font-style: italic;
	font-weight: lighter;
}

#search input:focus {
	outline: dashed 2px;
	outline-color: #5e5e5e;
}

#search img {
	width: 24px;
	height: 24px;

	margin-left: -32px;
	margin-top: 6px;

	filter: brightness(0%);
}

#main {
	width: 1000px;
	margin: 0 auto;
}

#main h1 {
	font-family: 'Inria Sans';
	font-weight: 500;
	color: white;
}

#items {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	gap: 32px 8px;

	margin-bottom: 128px;
}

p {
	margin: 0 0;

	font-family: 'Inria Sans';
	color: white;
}

.item {
	width: 320px;
	height: 286px;
}

.item:hover {
	cursor: pointer;
}

.item img {
	width: 320px;
}

.fake-img {
	width: 320px;
	height: 256px;
}

#leftmost {
	border-top-left-radius: 8px;
}

#rightmost {
	border-top-right-radius: 8px;
}

.desc {
	padding: 4px 8px;
	margin-top: -2px;

	width: 304px;
	height: 64px;
	background-color: #393039;
}

.item-title {
	font-size: 1.1em;
}

.author-rank-combo {
	display: inline;
}

.item-author {
	display: inline;
	font-size: 0.9em;
}

.item-author em {
	text-decoration: underline 1px;
	text-underline-offset: 4px;
}

.item-ranking {
	display: inline;
	float: right;
}

.item-ranking img {
	width: 20px;
	margin-bottom: -4px;
}
