/* Header */
header {
	margin: 0;
	width: 100%;
	height: 70px;
}

/* Retângulo no fundo do header */
#tit-fundo {
	margin: 0;
	background-color: #101720;
	width: 100%;
	height: 35px;
}

/* Oval (elipse?) por trás do texto no header*/
#tit-fundo2 {
	position: absolute;
	top: 0;

	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;

	text-align: center;

	background-color: #101720;
	border-radius: 0;
	width: 100%;
	height: 100px;
}

/* Texto do header*/
#tit-nome {
	margin-top: 0;
    
	color: white;
    
	text-align: center;
	font-family: 'Judson';
	font-size: 30pt;
}

/* Texto principal */
#tagline {
    margin-top: 100px;
	margin-left: auto;
	margin-right: auto;

	width: 580px;

    inline-size: calc(100% - 16px);
    overflow-wrap: break-word;
    
    color: white;
    
    text-align: center;
    font-family: 'Judson';
    font-size: 30pt;
}

/* Destaque na tagline */
#tagline em {
    color: #B1B4FB;
    text-decoration: underline 2px;
    text-underline-offset: 4px;
    
    font-family: 'Inria Sans';
}

#botoes {
    display: flex;
    flex-direction: column;
    
    align-items: center;
    justify-content: center;
}

#account-div {
	position: relative;
}

#btn-criar {
    margin: 0 auto;
    
    background-color: #051015;
    border-color: #020C10;
    color: white;
    
    text-align: center;
    font-family: 'Inria Sans';
    font-size: 24pt;
    
    width: 8em;
    height: 64px;
    
    border-radius: 2em;
    border-width: 4px;
    border-style: solid;
}

#btn-criar:hover {
   background-color: #040812;
   border-color: #010908;
   
   cursor: pointer;
}

#silly {
    color: white;
    font-family: 'Inria Sans';
    
    margin-bottom: 2px;
}

#btn-logar {
    margin: 0 auto;
    
    background-color: #7276D0;
    color: white;
    
    text-align: center;
    font-family: 'Inria Sans';
    font-size: 22pt;
    
    width: 8em;
    height: 56px;
    
    border-radius: 2em;
    border-style: none;
}

/* Media Query -> "Pergunta de Mídia"
 *
 * @media (min-width: 300px) {
 * 
 * }
 *
 * é igual à:
 *
 * @media (pelo menos 300px de largura) {
 *
 * }
 *
 * -----
 *
 * @media (max-width: 300px) {
 * 
 * }
 *
 * é igual à:
 *
 * @media (até 300px de largura) {
 *
 * }
 *
 */
@media (min-width: 300px) {
	#tit-fundo2 {
		height: 50px;
	}

	#btn-criar {
		width: 10em;
	}

	#btn-logar {
		width: 10em;
	}
}

@media (min-width: 600px) {
    #tit-fundo2 {
		border-radius: 2em;
		width: 600px;
	}

    #btn-criar {
		width: 16em;
	}

	#btn-logar {
		width: 12em;
	}
}

#btn-logar:hover {
    background-color: #5256B0;
    cursor: pointer;
}

#exclam {
    position: absolute;
    
    width: 32px;
    
    left: 470px;
    top: -10px;
    
    transform: rotate(15deg);
}

#no-thanks {
    color: white;
    font-family: 'Inria Sans';

    margin-top: 52px;

    font-size: 12pt;
    font-style: italic;
}