p {
	font-family: 'Inria Sans';
	color: white;

	margin: 0;
}

#item {
	display: grid;
	grid-template-columns: 320px 680px;
	grid-template-rows: 75px 139px;

	width: 1000px;
	height: 256px;

	margin: 64px auto 0 auto;
}

#item-img {
	width: 320px;
	height: 214px;

	grid-row-end: span 2;
	border-top-left-radius: 32px;
}

#info {
	background-color: #292029;

	padding-left: 24px;
	padding-bottom: 16px;

	border-top-right-radius: 32px;
}

#info h1 {
	margin-top: 8px;
	margin-bottom: 0px;

	font-family: 'Inria Sans';
	color: white;
}

#asr-combo {
	display: grid;
	grid-template-columns: 496px 28px 132px;
}

#autor em {
	text-decoration: underline 1px;
	text-underline-offset: 4px;
}

#rank {
	height: 20px;
	float: right;
}

#rank img {
	width: 20px;
	height: 20px;
	margin-bottom: -4px;
}

#opcoes {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;

	background-color: #393039;

	padding: 12px 16px;
}

#opcoes a {
	display: inline-block;

	width: 384px;
	height: 32px;

	line-height: 32px;
	
	border-radius: 12px;
	border-style: none;
	
	font-family: 'Inria Sans';
	font-size: 22px;

	text-align: center;
	text-decoration: none;
}

#add-carrinho {
	background-color: #d9d0d9;
	color: #393039;
}

#add-carrinho:hover {
	background-color: #c9c0c9;
	color: #292029;
}

#comprar {
	background-color: #595059;
	color: #f9f0f9;
}

#comprar:hover {
	background-color: #494049;
	color: #e9e0e9;
}

#preco {
	font-size: 1.5em;
	align-self: flex-end;
}

#desc {
	width: 1000px;
	height: 100%;

	margin: 0 auto 128px auto;
}

#title {
	background-color: #292029;
	margin-bottom: 0px;

	font-family: 'Inria Sans';
	font-size: 1.5em;

	padding: 4px 16px;

	color: #f9f0f9;
}

#text {
	background-color: #393039;

	padding: 4px 16px 32px 16px;
	border-radius: 0 0 16px 16px;
}
