/* Header */
header {
	margin: 0 auto;

	width: 100%;
	height: 210px;
}

/* Retângulo no fundo do header */
#header-bg {
	margin: 0;
	background-color: #101720;
	width: 100%;
	height: 250px;

	text-align: center;
}

#ola {
	margin: 0;
	font-family: 'Inria Sans';
	color: white;

	height: 250px;
	line-height: 250px;

	font-size: 32pt;
}

form {
	flex-flow: column nowrap;
	place-items: center;

	gap: 2em;

	margin-block: 1em;
	margin-inline: auto;
	margin-top: 100px;

	width: clamp(20em, 60vw, 1000px);
}

.input-divs {
	margin: 0 auto;

	width: 300px;
}

/* Labels das caixas de input */
.input-label {
	display: block;

	font-family: 'Inria Sans';
	font-size: 12pt;

	color: white;

	margin-top: 16px;
}

/* Caixas de input */
.input-generic {
	display: inline-block;

	font-family: 'Inria Sans';
	font-size: 14pt;

	background-color: #d0d0d9;

	border-style: none;
	border-radius: 16px;

	margin-top: 8px;

	height: 30px;
	width: 264px;

    padding-left: 8px;
	padding-right: 44px;
}

.input-generic::placeholder {
	color: #1e1e1e7f;

	font-style: italic;
	font-weight: lighter;
}

.input-generic:autofill {
	font-family: 'Inria Sans';
	font-size: 14pt;
}

.input-generic:-webkit-autofill {
	font-family: 'Inria Sans';
	font-size: 14pt;
}

.input-generic:focus {
	outline: dashed 2px;
	outline-color: #5e5e5e;
}

#inp-confirmar {
	background-color: #34e280;
	color: #acffc8;

	font-family: 'Inria Sans';
	font-size: 18pt;

	border-style: none;

	width: 200px;
	height: 50px;

	margin-top: 30px;
	margin-left: 60px;

	border-radius: 16px;
}

#inp-confirmar:hover {
	background-color: #24b270;
	color: #8cdfa8;
}

/* Olho que revela a senha */
.pwd-eye {
	position: absolute;
	width: 24px;
	margin-top: 14px;
	margin-left: -36px;
}

#forgor {
	display: block;
	margin-left: 24px;
	text-align: center;
}