h1, p, label {
	font-family: 'Inria Sans';
	color: white;
}

p {
	margin: 0;
}

label {
	display: block;
	width: 400px;
}

#main {
	width: 1000px;
	margin: 0 auto;
}

#checkout {
	background-color: #393039;
}

.guide {
	background-color: #292029;
	padding: 8px 16px;
}

#metodos {
}

#opcoes {
	display: flex;
	justify-content: space-evenly;

	padding: 16px 0;
}

.metodo {
	width: 128px;
	height: 78px;

	text-align: center;

	font-family: 'Inria Sans';
	font-size: 1.1em;

	border-radius: 16px;
	border-style: none;
}

.metodo img {
	display: block;
	width: 48px;
	margin: 0 auto;
}

#detalhes {

}

form {
	display: grid;
	grid-template-rows: 1fr 1fr 1fr;
	grid-template-columns: 1fr 1fr;

	align-items: center;
	gap: 24px 0;

	padding: 32px 16px;
}

.input-divs {
	margin: 0 auto;
}

.input-generic {
	display: inline-block;

	font-family: 'Inria Sans';
	font-size: 14pt;

	background-color: #d0d0d9;

	border-style: none;
	border-radius: 8px;

	height: 30px;
	width: 400px;

    padding-left: 8px;
	padding-right: 44px;
}

.input-generic::placeholder {
	color: #1e1e1e7f;

	font-style: italic;
	font-weight: lighter;
}

.input-generic:autofill {
	font-family: 'Inria Sans';
	font-size: 14pt;
}

.input-generic:-webkit-autofill {
	font-family: 'Inria Sans';
	font-size: 14pt;
}

.input-generic:focus {
	outline: dashed 2px;
	outline-color: #5e5e5e;
}

#inp-confirmar {
	grid-column: 1 / 3;
	margin: 0 auto;
}

#inp-confirmar:hover {
	background-color: #c0c0c9;
	cursor: pointer;
}
