h1, h2, p {
	text-align: center;

	color: #d9d0d9;
	font-family: 'Inria Sans';
}

h1 {
	margin: 48px 0;
}

h2 {
	margin-bottom: 2px;
}

p {
	margin-top: 2px;
	margin-bottom: 40px;
	font-size: 1.25em;
}

#mensagem {
	margin: 0 auto;
	text-align: center;

	background-color: #393039;
	width: 900px;
	height: 200px;
	border-radius: 16px;

	padding-top: 20px;
}

#acessar {
	color: #d9d0d9;
	background-color: #595059;

	font-family: 'Inria Sans';
	font-size: 22px;

	border-style: none;
	border-radius: 8px;

	width: 300px;
	height: 32px;

	margin-right: 0px;
}

#continuar {
	border-radius: 8px;

	width: 300px;

	line-height: 32px;
	height: 32px;

	margin-left: 0px;
}

@media (min-width: 900px) {
	#acessar {
		margin-right: 24px;
	}

	#continuar {
		margin-left: 24px;
	}
}

@media (max-width: 900px) {
	#mensagem {
		width: 600px;
	}
	
	#acessar{
		margin-bottom: 8px;
	}
}

@media (max-width: 600px) {
	#mensagem {
		width: 320px;
		height: 300px;

		padding-left: 16px;
		padding-right: 16px;
	}

	#continuar {
		margin-top: 8px;
	}
}
